.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  background-color: #ffffff;
  color: black;
}

.nav__logo {
  position: relative;
}

.nav__links {
}
.header__content {
  display: flex;
}

.header__span-accent {
  display: flex;
  color: #2f80ed;
}

.header__description {
  display: flex;
  max-width: 683px;
}

.header__image {
  position: absolute;
  height: 646px;
  width: 548px;
}
.header__footer {
}

.header__footer_list {
}
.header__footer_list-item {
}
